.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 425px 0 425px;
}

.header-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 552px;
  margin: 55px 0 50px 0;
}
.header-description > h1 {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #1c2e35;
  margin-bottom: 16px;
}

.header-description > p {
  margin: 0;
  text-align: center;
}

.main-container {
  max-width: 638px;
  margin: 0 400px;
}
